In [1]:
from tablepy_lib import markdown
import pandas as pd

data = {
    "Name": ["John", "Emily", "Tom", "JC"],
    "Age": [28, 32, 25, 2],
    "Country": ["USA", "Canada", "UK", "DE"],
    "Data": ["USA", "Canada", "UK", "3434243"]
}

data_frame = pd.DataFrame(data)
table = markdown(data_frame)
print(table)

| Name    | Age   | Country   | Data      |
| ------- | ----- | --------- | --------- |
| John    | 28    | USA       | USA       |
| Emily   | 32    | Canada    | Canada    |
| Tom     | 25    | UK        | UK        |
| JC      | 2     | DE        | 3434243   |

In [2]:
import tablepy_lib
dir(tablepy_lib)

['ConsoleFormatter',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'consoleFormatter',
 'formatter',
 'markdown',
 'sql_insert']

In [3]:
from tablepy_lib import sql_insert
import pandas as pd

data = {
    "Name": ["John", "Emily", "Tom", "JC"],
    "Age": [28, 32, 25, 2],
    "Country": ["USA", "Canada", "UK", "DE"],
    "Data": ["USA", "Canada", "UK", "3434243"]
}

data_frame = pd.DataFrame(data)
table = sql_insert(data_frame, 'dd')
print(table)

INSERT INTO dd (Name, Age, Country, Data) VALUES ('John', 28, 'USA', 'USA');
INSERT INTO dd (Name, Age, Country, Data) VALUES ('Emily', 32, 'Canada', 'Canada');
INSERT INTO dd (Name, Age, Country, Data) VALUES ('Tom', 25, 'UK', 'UK');
INSERT INTO dd (Name, Age, Country, Data) VALUES ('JC', 2, 'DE', 3434243);